/* styles for the main header of the article */

.mainHeader {
  margin-top: 3.75rem;
  margin-left: auto;
  margin-right: auto;
  display: flex; /* va lo mio */
  justify-content: center;
  flex-direction: column;
}

.title-mainHeader {
  display: flex;
  justify-content: center;
}

.h1-title {
  width: 600px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #121212;
  font-family: georgia, "times new roman", times, serif;
  font-weight: 700;
  font-style: italic;
  text-align: left;
}

.social {
  border-top: 1px solid #ebebeb;
  padding-top: 20px;
  width: 600px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-shrink: 0;
}

.socialIcon-title {
  display: inline-block;
  vertical-align: middle;
  background-color: #eee;
  border: 1px #eee solid;
  border-radius: 100%;
  padding: 5px;
  width: 30px;
  height: 30px;
}

.socialGroup {
  color: #999;
  display: flex;
  flex-shrink: 0;
  font-family: helvetica, arial, sans-serif;
  font-size: 17px;
  margin-bottom: 5px;
}

.socialList {
  padding: 0;
}

.li-socialList {
  color: #999;
  display: inline;
  margin-right: 16px;
  width: 100%;
}

.socialIcon-whatsapp {
  display: inline-block;
  vertical-align: middle;
  background-color: #eee;
  border: 1px #eee solid;
  border-radius: 100%;
  padding: 5px;
  width: 30px;
  height: 30px;
  background-image: url(https://img.icons8.com/pastel-glyph/64/000000/whatsapp--v2.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.button-title {
  background-color: #fff;
}

.bigIMG {
  margin-top: 20px;
}
